[
    ["1st Division", [["dallas", "ripley", "lambert", "brett"],
		      ["kane", "ash", "parker", "alien"],
		      ["newt", "ripley", "burke", "bishop"]]],
    ["2nd Division", [["tyler", "marla", "robert", "richard"],
		      ["nick", "amy", "desi", "tanner"],
		      ["somerset", "mills", "tracy", "davis"]]],
    ["3rd Division", [["walter", "skyler", "jesse", "walter jr."],
		      ["hank", "marie", "saul", "mike"]]]
]
